label {
	font-weight: bold;
}
html,
body {
	font-size: 14pt;
}
body {
	background: #dedede;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
	max-width: 75%;
	margin: auto;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
p {
	font-size: 1rem;
	line-height: 2;
}