<main>
<h1>{{title}}</h1>
<p>This site contains the details of all the movies and shows. </p>
<form action="/search" method="post">
  <label for="searchTerm">Search here:</label>
  <input type="text" name="searchTerm" id="searchTerm" > <br>
  <input type="submit" value="search" id="searchTermId">
</form>
</main>
